@page
@model Mission09.Pages.DonationCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks, your books will be there soon. </h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>